body {
    margin: 0;
    padding: 0;
    background-color: black;

    overflow: hidden;
}

main {
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: center;
}

#canvas-area {
    width: 400px;
    height: 400px;
}
#canvas-area canvas {
    position: absolute;
}

#main-canvas {
    /* border: 1px solid gray; */
    background-color: black;
    border-radius: 50%;
}
#stick-canvas {
    /* display: none; */
    pointer-events: none;
}

#background-canvas {
    position: absolute;
    overflow: hidden;
    width: 200%;
    /* height: 100%; */

    top: 50%;
    left: 50%;

    transform: translate(-50%, -50%);

    z-index: -1;
    
    filter: blur(10px) brightness(50%);
    
    pointer-events: none;
}

#progress-area {
    position: relative;
    box-sizing: border-box;
    width: 400px;
    height: 20px;
    border: 1px solid black;
}
#progress-bar {
    position: relative;
    height: 100%;
    width: 0%;
    background-color: green;
}

#tip-area {
    text-align: center;
}

#flex-area {
    display: flex;
    gap: 50px;
    padding: 30px;
    border-radius: 20px;
    background-color: rgba(60,60,60,0.9);
}
#controls-area {

}