body {
    margin: 0;
    padding: 0;
}

#canvas-area {
    width: 400px;
    height: 400px;
}
#canvas-area canvas {
    position: absolute;
}

#main-canvas {
    /* border: 1px solid gray; */
    background-color: black;
}
#stick-canvas {
    /* display: none; */
}

#progress-area {
    position: relative;
    box-sizing: border-box;
    width: 400px;
    height: 20px;
    border: 1px solid gray;
}
#progress-bar {
    position: relative;
    height: 100%;
    width: 0%;
    background-color: green;
}